@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');



html,
body {
    margin: 0;
}

h1,
h2,
h4,
p,
figure {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    box-sizing: border-box;
    vertical-align: middle;
    font-weight: 400;
}

.h2 {
    font-size: 35px;
    line-height: 1.2;
}

.h3 {
    font-size: 30px;
    line-height: 1.2;
}

.h4 {
    font-size: 28px;
    line-height: 1.35;
}

.h5 {
    font-size: 20px;
    line-height: 1.35;
}


// @media (min-width:320px) and (max-width:767px) {}

header {
    width: 100%;
    transition: .8s;
    position: fixed;
    left: 0;
    top: 0;
    background: none;
    z-index: 9999;
    overflow: hidden;

    .head {
        width: 95%;
        margin: 0 auto;
        
        .header {
            width: 100%;
            padding: 20px 20px 0;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            
            h1 {
                width: 40%;
                height: 40px;
                position: relative;

                .logo {
                    transition: .5s;

                    img {

                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    .logo_1 {
                        width: 80%;
                        height: 100%;
                        display: block;
                    }

                    .logo_2 {
                        width: 80%;
                        height: 100%;
                        display: none;
                    }


                }
            }

            .header-burger {
                width: 35px;
                height: 20px;
                text-align: right;
                position: relative;
                transition: .5s;

                span {
                    border-bottom: 2px solid #fff;
                    overflow: hidden;
                    transition: .5s;
                    position: absolute;
                    right: 0;

                    &:nth-of-type(1) {
                        width: 22.5px;
                    }

                    &:nth-of-type(2) {
                        width: 30px;
                        top: calc(50% - 1.5px);
                    }

                    &:nth-of-type(3) {
                        width: 22.5px;
                        bottom: 0;
                    }


                }

                &:hover {
                    span {
                        left: 0;

                        &:nth-of-type(1),
                        &:nth-of-type(3) {
                            width: 30px;
                        }

                        &:nth-of-type(2) {
                            width: 22.5px;
                        }
                    }
                }

            }
        }
    }


    &.active {
        background-color: #fff;
        padding-bottom: 20px;

        .head {
            .header {
                h1 {
                    .logo {
                        .logo_1 {
                            display: none;

                        }

                        .logo_2 {
                            display: block;
                        }

                    }
                }

                .header-burger {
                    span {
                        border-color: #888;
                    }
                }
            }
        }
    }


    &.active-nav {
        background-color: #fff;
        padding-bottom: 20px;

        .head {
            .header {
                h1 {
                    .logo {
                        .logo_1 {
                            display: none;

                        }

                        .logo_2 {
                            display: block;
                        }


                    }
                }

                .header-burger {
                    span {
                        border-color: #888;

                        &:nth-of-type(1) {
                            top: 50%;
                            transform: translateY(-50%) rotate(45deg);
                        }

                        &:nth-of-type(2) {
                            opacity: 0;
                        }

                        &:nth-of-type(3) {
                            bottom: 50%;
                            transform: translateY(50%) rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}


nav {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: 500;

    //네비게이션 열림
    .open {
        visibility: visible;
    }

    //네비게이션 닫힘
    .close {
        visibility: visible;
    }

    .navi {
        width: 100vw;
        overflow: hidden;

        .navi-bg {
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            position: fixed;
            left: 0;
            top: 0;
            z-index: -1;

            svg {
                width: 100%;
                height: 100%;

                path {
                    fill: #fff;
                }
            }
        }

        .navi-contain {
            width: 100%;
            margin: 80px 0 40px;
            display: flex;
            flex-direction: column;
            z-index: 490;

            .split-text {
                visibility: hidden;
                display: block;
                transform: translateY(200%);
            }

            .menu {
                padding: 0 20px;
                margin-bottom: 24px;

                .h2 {
                    color: #333333;
                    font-weight: 800;
                }

                .sub-menu {
                    padding-top: 16px;

                    >li {
                        padding-bottom: 12px;

                        &:nth-of-type(3) {
                            padding: 0;
                        }

                        .h4 {
                            display: block;
                            color: #888888;
                            font-weight: bold;
                        }
                    }

                    .sub-sub-menu {
                        padding-top: 16px;

                        >li {
                            padding-bottom: 12px;

                            &:nth-of-type(2) {
                                padding: 0;
                            }

                            .h5 {
                                font-weight: 500;
                                color: #888;
                            }
                        }
                    }
                }
            }
        }

        .contacts {
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow: hidden;

            .split-text {
                display: block;
                transform: translateY(200%);
            }

            >li {
                padding: 0 20px;
                margin-bottom: 16px;
                position: relative;
                overflow: hidden;

                p {
                    margin-bottom: 11.2px;
                    font-weight: 500;
                    font-size: 14px;
                }

                span {
                    margin-bottom: 11.2px;
                    display: block;
                    font-size: 16px;
                }

                a {
                    margin-bottom: 11.2px;
                    display: block;
                    color: #888888;
                    font-size: 14px;
                }
            }
        }
    }
}


footer {
    width: 100%;
    background-color: #262626;
    padding: 0 20px;

    .bottom {

        .content {
            padding: 32px 0;
            position: relative;
            border-bottom: 1px solid rgba(128, 128, 128, 0.3);

            h2 {
                color: #eeece6;
                font-weight: 800;
                margin-bottom: 40px;

            }

            .info-1 {
                display: flex;
                justify-content: flex-start;

                .name {
                    margin-right: 30px;
                    text-align: left;

                    span {
                        color: #888;
                        display: block;
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                }

                .info_1-1 {
                    span {
                        color: #cccccc;
                        display: block;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
            }

            .down {
                display: inline-block;
                margin-top: 15px;
                position: relative;
                overflow: hidden;

                .change {
                    border: 1px solid rgba(224, 224, 224, 0.5);
                    padding: 12px 28px;
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    color: #f9f9f9;
                    font-size: 14px;

                    &::before {
                        content: 'DOWNLOAD';
                        width: 100%;
                        font-weight: bold;
                        font-size: 14px;
                        color: #1fc77c;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        display: none;
                    }
                }
            }
        }
    }

    .info-2 {
        .info_2-1 {
            display: flex;
            justify-content: space-between;
            padding: 32px 0 40px;

            h2 {
                width: 30%;

                img {
                    width: 80%;
                }
            }

            span {
                width: 60%;
                text-align: right;
                display: inline-block;
                transition: .5s;

                i {
                    width: 45px;
                    font-size: 20px;
                    color: rgba(224, 224, 224, 0.5);
                    padding: 0 10px;

                    &:hover {
                        color: #fff;
                    }

                    &.active {
                        color: #fff;
                    }
                }

            }
        }

        .reserve {
            padding-bottom: 32px;

            small {
                color: #ccc;
                font-weight: 400;
                font-size: 12px;
            }
        }
    }

}




//네비게이션 배경 열림
.open .navi-bg {
    animation: navi-open .5s ease-in forwards;
}

@keyframes navi-open {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}


.open .navi-bg svg path {
    animation: bg-open .5s ease-in forwards;
}

@keyframes bg-open {
    0% {
        d: path('M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z');
    }

    10% {
        d: path('M0,150 C305.333333,50 625.333333,0 960,0 C1294.66667,0 1614.66667,50 1920,150 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,150 Z');
    }

    20% {
        d: path('M0,300 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,300 Z');
    }

    100% {
        d: path('M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z');
    }
}

//네비게이션 열린 후 텍스트 내려옴
nav.open .split-text {
    animation: nav-split-down 1s .5s forwards;
}

@keyframes nav-split-down {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}


// =======================================================================================


//네비게이션 닫힘
.close {
    animation: navi-close 1s ease-in forwards;
}

@keyframes navi-close {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(200%);
    }
}


//네비게이션 닫기 전 txt 올라감
nav.close .split-text {
    animation: nav-split-down .5s forwards;
}

@keyframes nav-split-down {
    100% {
        transform: translateY(0%);
    }

    0% {
        transform: translateY(200%);
    }

}



//네비게이션 배경 닫힘
.close .navi-bg svg path {
    animation: bg-close .8s .3s ease-in forwards;
}

@keyframes bg-close {
    0% {
        d: path('M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z');
    }

    40% {
        d: path('M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1030 1294.66667,1005 960,1005 C625.333333,1005 305.333333,1030 0,1080 L0,0 Z')
    }

    80% {
        d: path('M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z');
    }

    100% {
        d: path('M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z');
    }
}


// ============================================================================================

// 텍스트 위로 올라오는 동작
.text_up {
    animation: split-up .8s forwards;
}

@keyframes split-up {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

// 이미지 크기, 위로 올라오는 ani
.scale {
    display: block !important;
    animation: img-scale .8s ease-in forwards;
}

@keyframes img-scale {
    0% {
        opacity: 0;
        transform: translateY(150%);
    }

    50% {
        opacity: 0.5;
        transform: scaleY(1.5) translateY(50%);
    }

    100% {
        opacity: 1;
        transform: scaleY(1) translateY(0%);
    }
}


// ===========================================================================================================