@charset "utf-8";
/* 
--color-black: #000000;
--color-dark-1: #111111;
--color-dark-2: #262626;
--color-dark-3: #333333;
--color-dark-4: #555555;
--color-light-1: #f9f9f9;
--color-white: #ffffff;
--color-light-2: #f2f1ed;
--color-light-3: #f7f6f3;
--color-light-4: #f1e9db;
--color-light-5: #fcfaef;
--color-gray-1: #888888;
--color-gray-2: #cccccc;
--color-gray-3: rgba(224, 224, 224, 0.5);
--color-gray-4: rgba(0, 0, 0, 0.4);
--color-gray-5: rgba(224, 224, 224, 0.6);
--color-green-1: #1fc77c;
--color-blue-1: #0e91d1;

--xl-max-font-size: 188;
--xl-min-font-size: 54;
--xl-line-height: 1.1;
--xl-color-light: #eeece6;
--xl-color-dark: #333333;

--h1-max-font-size: 104;
--h1-min-font-size: 35;
--h1-line-height: 1.13;
--h1-color-light: #eeece6;
--h1-color-dark: #333333;

--h2-max-font-size: 65;
--h2-min-font-size: 31;
--h2-line-height: 1.2;
--h2-color-light: #eeece6;
--h2-color-dark: #333333;

--h3-max-font-size: 42;
--h3-max-font-size2: 32;
--h3-min-font-size: 24;
--h3-line-height: 1.2;
--h3-color-light: #eeece6;
--h3-color-dark: #333333;

--h4-max-font-size: 26;
--h4-min-font-size: 18;
--h4-line-height: 1.35;
--h4-color-light: #ffffff;
--h4-color-dark: #262626;

--h5-max-font-size: 20;
--h5-min-font-size: 18;
--h5-line-height: 1.35;
--h5-color-light: #ffffff;
--h5-color-dark: #262626;

--h6-max-font-size: 16;
--h6-min-font-size: 16;
--h6-line-height: 1.6;
--h6-color-light: #ffffff;
--h6-color-dark: #262626;

--blockquote-max-font-size: 24;
--blockquote-min-font-size: 16;
--blockquote-line-height: 1.6;
--blockquote-color-light: #ffffff;
--blockquote-color-dark: #262626;

--paragraph-max-font-size: 16;
--paragraph-min-font-size: 14;
--paragraph-line-height: 1.6;
--paragraph-color-light: #cccccc;
--paragraph-color-dark: #262626;

--dropcap-max-font-size: 110;
--dropcap-min-font-size: 60;
--dropcap-line-height: 0.7;
--dropcap-color-light: #ffffff;
--dropcap-color-dark: #111111;

--distance-min-xsmall: 30;
--distance-min-small: 30;
--distance-min-medium: 50;
--distance-min-large: 100;
--distance-min-xlarge: 160;
--distance-max-xsmall: 50;
--distance-max-small: 120;
--distance-max-normal: 240;
--distance-max-large: 360;
--distance-max-xlarge: 400;

--gutter-horizontal: 120px;
--gutter-vertical: 80px;
--preloader-circle-max-size: 2;
--preloader-circle-min-size: 2;
--transparent: rgba(255, 255, 255, 0); */