@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
html,
body {
  margin: 0;
}

h1,
h2,
h4,
p,
figure {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  box-sizing: border-box;
  vertical-align: middle;
  font-weight: 400;
}

.h2 {
  font-size: 35px;
  line-height: 1.2;
}

.h3 {
  font-size: 30px;
  line-height: 1.2;
}

.h4 {
  font-size: 28px;
  line-height: 1.35;
}

.h5 {
  font-size: 20px;
  line-height: 1.35;
}

header {
  width: 100%;
  transition: 0.8s;
  position: fixed;
  left: 0;
  top: 0;
  background: none;
  z-index: 9999;
  overflow: hidden;
}
header .head {
  width: 95%;
  margin: 0 auto;
}
header .head .header {
  width: 100%;
  padding: 20px 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .header h1 {
  width: 40%;
  height: 40px;
  position: relative;
}
header .head .header h1 .logo {
  transition: 0.5s;
}
header .head .header h1 .logo img {
  position: absolute;
  left: 0;
  top: 0;
}
header .head .header h1 .logo .logo_1 {
  width: 80%;
  height: 100%;
  display: block;
}
header .head .header h1 .logo .logo_2 {
  width: 80%;
  height: 100%;
  display: none;
}
header .head .header .header-burger {
  width: 35px;
  height: 20px;
  text-align: right;
  position: relative;
  transition: 0.5s;
}
header .head .header .header-burger span {
  border-bottom: 2px solid #fff;
  overflow: hidden;
  transition: 0.5s;
  position: absolute;
  right: 0;
}
header .head .header .header-burger span:nth-of-type(1) {
  width: 22.5px;
}
header .head .header .header-burger span:nth-of-type(2) {
  width: 30px;
  top: calc(50% - 1.5px);
}
header .head .header .header-burger span:nth-of-type(3) {
  width: 22.5px;
  bottom: 0;
}
header .head .header .header-burger:hover span {
  left: 0;
}
header .head .header .header-burger:hover span:nth-of-type(1), header .head .header .header-burger:hover span:nth-of-type(3) {
  width: 30px;
}
header .head .header .header-burger:hover span:nth-of-type(2) {
  width: 22.5px;
}
header.active {
  background-color: #fff;
  padding-bottom: 20px;
}
header.active .head .header h1 .logo .logo_1 {
  display: none;
}
header.active .head .header h1 .logo .logo_2 {
  display: block;
}
header.active .head .header .header-burger span {
  border-color: #888;
}
header.active-nav {
  background-color: #fff;
  padding-bottom: 20px;
}
header.active-nav .head .header h1 .logo .logo_1 {
  display: none;
}
header.active-nav .head .header h1 .logo .logo_2 {
  display: block;
}
header.active-nav .head .header .header-burger span {
  border-color: #888;
}
header.active-nav .head .header .header-burger span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
header.active-nav .head .header .header-burger span:nth-of-type(2) {
  opacity: 0;
}
header.active-nav .head .header .header-burger span:nth-of-type(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

nav {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  z-index: 500;
}
nav .open {
  visibility: visible;
}
nav .close {
  visibility: visible;
}
nav .navi {
  width: 100vw;
  overflow: hidden;
}
nav .navi .navi-bg {
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
nav .navi .navi-bg svg {
  width: 100%;
  height: 100%;
}
nav .navi .navi-bg svg path {
  fill: #fff;
}
nav .navi .navi-contain {
  width: 100%;
  margin: 80px 0 40px;
  display: flex;
  flex-direction: column;
  z-index: 490;
}
nav .navi .navi-contain .split-text {
  visibility: hidden;
  display: block;
  transform: translateY(200%);
}
nav .navi .navi-contain .menu {
  padding: 0 20px;
  margin-bottom: 24px;
}
nav .navi .navi-contain .menu .h2 {
  color: #333333;
  font-weight: 800;
}
nav .navi .navi-contain .menu .sub-menu {
  padding-top: 16px;
}
nav .navi .navi-contain .menu .sub-menu > li {
  padding-bottom: 12px;
}
nav .navi .navi-contain .menu .sub-menu > li:nth-of-type(3) {
  padding: 0;
}
nav .navi .navi-contain .menu .sub-menu > li .h4 {
  display: block;
  color: #888888;
  font-weight: bold;
}
nav .navi .navi-contain .menu .sub-menu .sub-sub-menu {
  padding-top: 16px;
}
nav .navi .navi-contain .menu .sub-menu .sub-sub-menu > li {
  padding-bottom: 12px;
}
nav .navi .navi-contain .menu .sub-menu .sub-sub-menu > li:nth-of-type(2) {
  padding: 0;
}
nav .navi .navi-contain .menu .sub-menu .sub-sub-menu > li .h5 {
  font-weight: 500;
  color: #888;
}
nav .navi .contacts {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
nav .navi .contacts .split-text {
  display: block;
  transform: translateY(200%);
}
nav .navi .contacts > li {
  padding: 0 20px;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}
nav .navi .contacts > li p {
  margin-bottom: 11.2px;
  font-weight: 500;
  font-size: 14px;
}
nav .navi .contacts > li span {
  margin-bottom: 11.2px;
  display: block;
  font-size: 16px;
}
nav .navi .contacts > li a {
  margin-bottom: 11.2px;
  display: block;
  color: #888888;
  font-size: 14px;
}

footer {
  width: 100%;
  background-color: #262626;
  padding: 0 20px;
}
footer .bottom .content {
  padding: 32px 0;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
footer .bottom .content h2 {
  color: #eeece6;
  font-weight: 800;
  margin-bottom: 40px;
}
footer .bottom .content .info-1 {
  display: flex;
  justify-content: flex-start;
}
footer .bottom .content .info-1 .name {
  margin-right: 30px;
  text-align: left;
}
footer .bottom .content .info-1 .name span {
  color: #888;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
footer .bottom .content .info-1 .info_1-1 span {
  color: #cccccc;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
footer .bottom .content .down {
  display: inline-block;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}
footer .bottom .content .down .change {
  border: 1px solid rgba(224, 224, 224, 0.5);
  padding: 12px 28px;
  display: block;
  text-align: center;
  font-weight: bold;
  color: #f9f9f9;
  font-size: 14px;
}
footer .bottom .content .down .change::before {
  content: "DOWNLOAD";
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  color: #1fc77c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
footer .info-2 .info_2-1 {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 40px;
}
footer .info-2 .info_2-1 h2 {
  width: 30%;
}
footer .info-2 .info_2-1 h2 img {
  width: 80%;
}
footer .info-2 .info_2-1 span {
  width: 60%;
  text-align: right;
  display: inline-block;
  transition: 0.5s;
}
footer .info-2 .info_2-1 span i {
  width: 45px;
  font-size: 20px;
  color: rgba(224, 224, 224, 0.5);
  padding: 0 10px;
}
footer .info-2 .info_2-1 span i:hover {
  color: #fff;
}
footer .info-2 .info_2-1 span i.active {
  color: #fff;
}
footer .info-2 .reserve {
  padding-bottom: 32px;
}
footer .info-2 .reserve small {
  color: #ccc;
  font-weight: 400;
  font-size: 12px;
}

.open .navi-bg {
  -webkit-animation: navi-open 0.5s ease-in forwards;
          animation: navi-open 0.5s ease-in forwards;
}

@-webkit-keyframes navi-open {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes navi-open {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.open .navi-bg svg path {
  -webkit-animation: bg-open 0.5s ease-in forwards;
          animation: bg-open 0.5s ease-in forwards;
}

@-webkit-keyframes bg-open {
  0% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
  10% {
    d: path("M0,150 C305.333333,50 625.333333,0 960,0 C1294.66667,0 1614.66667,50 1920,150 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,150 Z");
  }
  20% {
    d: path("M0,300 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,300 Z");
  }
  100% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
}

@keyframes bg-open {
  0% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
  10% {
    d: path("M0,150 C305.333333,50 625.333333,0 960,0 C1294.66667,0 1614.66667,50 1920,150 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,150 Z");
  }
  20% {
    d: path("M0,300 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,300 Z");
  }
  100% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
}
nav.open .split-text {
  -webkit-animation: nav-split-down 1s 0.5s forwards;
          animation: nav-split-down 1s 0.5s forwards;
}

@-webkit-keyframes nav-split-down {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes nav-split-down {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
.close {
  -webkit-animation: navi-close 1s ease-in forwards;
          animation: navi-close 1s ease-in forwards;
}

@-webkit-keyframes navi-close {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes navi-close {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}
nav.close .split-text {
  -webkit-animation: nav-split-down 0.5s forwards;
          animation: nav-split-down 0.5s forwards;
}

@keyframes nav-split-down {
  100% {
    transform: translateY(0%);
  }
  0% {
    transform: translateY(200%);
  }
}
.close .navi-bg svg path {
  -webkit-animation: bg-close 0.8s 0.3s ease-in forwards;
          animation: bg-close 0.8s 0.3s ease-in forwards;
}

@-webkit-keyframes bg-close {
  0% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
  40% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1030 1294.66667,1005 960,1005 C625.333333,1005 305.333333,1030 0,1080 L0,0 Z");
  }
  80% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z");
  }
  100% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
}

@keyframes bg-close {
  0% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
  40% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1030 1294.66667,1005 960,1005 C625.333333,1005 305.333333,1030 0,1080 L0,0 Z");
  }
  80% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z");
  }
  100% {
    d: path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z");
  }
}
.text_up {
  -webkit-animation: split-up 0.8s forwards;
          animation: split-up 0.8s forwards;
}

@-webkit-keyframes split-up {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes split-up {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
.scale {
  display: block !important;
  -webkit-animation: img-scale 0.8s ease-in forwards;
          animation: img-scale 0.8s ease-in forwards;
}

@-webkit-keyframes img-scale {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  50% {
    opacity: 0.5;
    transform: scaleY(1.5) translateY(50%);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateY(0%);
  }
}

@keyframes img-scale {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  50% {
    opacity: 0.5;
    transform: scaleY(1.5) translateY(50%);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateY(0%);
  }
}
/* 
--color-black: #000000;
--color-dark-1: #111111;
--color-dark-2: #262626;
--color-dark-3: #333333;
--color-dark-4: #555555;
--color-light-1: #f9f9f9;
--color-white: #ffffff;
--color-light-2: #f2f1ed;
--color-light-3: #f7f6f3;
--color-light-4: #f1e9db;
--color-light-5: #fcfaef;
--color-gray-1: #888888;
--color-gray-2: #cccccc;
--color-gray-3: rgba(224, 224, 224, 0.5);
--color-gray-4: rgba(0, 0, 0, 0.4);
--color-gray-5: rgba(224, 224, 224, 0.6);
--color-green-1: #1fc77c;
--color-blue-1: #0e91d1;

--xl-max-font-size: 188;
--xl-min-font-size: 54;
--xl-line-height: 1.1;
--xl-color-light: #eeece6;
--xl-color-dark: #333333;

--h1-max-font-size: 104;
--h1-min-font-size: 35;
--h1-line-height: 1.13;
--h1-color-light: #eeece6;
--h1-color-dark: #333333;

--h2-max-font-size: 65;
--h2-min-font-size: 31;
--h2-line-height: 1.2;
--h2-color-light: #eeece6;
--h2-color-dark: #333333;

--h3-max-font-size: 42;
--h3-max-font-size2: 32;
--h3-min-font-size: 24;
--h3-line-height: 1.2;
--h3-color-light: #eeece6;
--h3-color-dark: #333333;

--h4-max-font-size: 26;
--h4-min-font-size: 18;
--h4-line-height: 1.35;
--h4-color-light: #ffffff;
--h4-color-dark: #262626;

--h5-max-font-size: 20;
--h5-min-font-size: 18;
--h5-line-height: 1.35;
--h5-color-light: #ffffff;
--h5-color-dark: #262626;

--h6-max-font-size: 16;
--h6-min-font-size: 16;
--h6-line-height: 1.6;
--h6-color-light: #ffffff;
--h6-color-dark: #262626;

--blockquote-max-font-size: 24;
--blockquote-min-font-size: 16;
--blockquote-line-height: 1.6;
--blockquote-color-light: #ffffff;
--blockquote-color-dark: #262626;

--paragraph-max-font-size: 16;
--paragraph-min-font-size: 14;
--paragraph-line-height: 1.6;
--paragraph-color-light: #cccccc;
--paragraph-color-dark: #262626;

--dropcap-max-font-size: 110;
--dropcap-min-font-size: 60;
--dropcap-line-height: 0.7;
--dropcap-color-light: #ffffff;
--dropcap-color-dark: #111111;

--distance-min-xsmall: 30;
--distance-min-small: 30;
--distance-min-medium: 50;
--distance-min-large: 100;
--distance-min-xlarge: 160;
--distance-max-xsmall: 50;
--distance-max-small: 120;
--distance-max-normal: 240;
--distance-max-large: 360;
--distance-max-xlarge: 400;

--gutter-horizontal: 120px;
--gutter-vertical: 80px;
--preloader-circle-max-size: 2;
--preloader-circle-min-size: 2;
--transparent: rgba(255, 255, 255, 0); */
main {
  width: 100%;
  overflow: hidden;
}
main .visual {
  width: 100%;
}
main .visual .slide {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
main .visual .slide li {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
main .visual .slide li img {
  width: 100%;
  height: 100%;
}
main .visual .slide li .title {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 10%;
  margin-right: 1rem;
  margin-left: 20px;
  z-index: 2;
}
main .visual .slide li .title .h3 {
  width: 90%;
  color: #eeece6;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 35px;
}
main .visual .slide li .title p {
  width: 90%;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: 25px;
}
main .company {
  width: 95%;
  margin: 0 auto 50px;
  overflow: hidden;
}
main .company article {
  padding: 90px 20px 20px;
}
main .company article .h4 {
  font-weight: bold;
  color: #262626;
  margin-bottom: 16px;
}
main .company article .contect {
  padding-bottom: 20px;
  overflow: hidden;
}
main .company article .contect .string-up {
  display: inline-block;
  margin-right: 7px;
  transform: translateY(300%);
  position: relative;
  overflow: hidden;
}
main .company article .contect .string-up .h2 {
  display: inline-block;
  font-weight: 800;
  color: #333;
  line-height: 1.2;
}
main .company article .translation {
  margin: 0 auto;
  margin: 20px 0 16px;
  overflow: hidden;
  position: relative;
}
main .company article .translation .string-up {
  display: inline-block;
  transform: translateY(300%);
  position: relative;
  overflow: hidden;
}
main .company article .translation .string-up > span {
  font-size: 18px;
  line-height: 1.7;
  color: #262626;
}
main .company .view_box {
  overflow: hidden;
  display: inline-block;
  padding: 0 20px;
}
main .company .view_box .change {
  display: block;
  position: relative;
  margin-top: 36px;
}
main .company .view_box .change .view {
  display: block;
  padding: 12px 28px;
  width: 100%;
  border: 1px solid #111;
  color: #111;
  text-align: center;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
main .company .view_box .change:hover .view {
  border-color: #1fc77c;
  color: #1fc77c;
}
main .services {
  width: 95%;
  margin: 0 auto 50px;
}
main .services article {
  padding: 0 20px;
}
main .services article .h4 {
  font-weight: bold;
  color: #262626;
  margin-bottom: 16px;
}
main .services .services-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .services .services-list li {
  width: 46%;
  margin: 2%;
  flex-shrink: 0;
  vertical-align: top;
  position: relative;
}
main .services .services-list li a {
  transition: 0.3s;
  opacity: 0;
  overflow: hidden;
}
main .services .services-list li a img {
  width: 100%;
}
main .services .services-list li a p .h5 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
}
main .services .services-list li a p .plus {
  font-size: 23px;
  color: #fff;
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: none;
}
main .services .services-list li a:hover img {
  transform: scale(1.1);
}
main .services .services-list li a:hover p .plus {
  display: inline;
}
main .infra {
  width: 95%;
  margin: 0 auto 50px;
}
main .infra article .h4 {
  font-weight: bold;
  color: #262626;
  padding: 50px 20px 0;
  margin-bottom: 16px;
}
main .infra article ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
main .infra article ul li {
  width: 50%;
  height: 100%;
  padding: 0 20px;
  margin-bottom: 32px;
  flex-shrink: 0;
  overflow: hidden;
  transition: 0.5s;
}
main .infra article ul li:nth-of-type(1) {
  width: 100%;
}
main .infra article ul li:hover a img {
  transform: scale(1.1);
}
main .infra article ul li a {
  display: block;
  width: 100%;
  height: 140px;
  overflow: hidden;
}
main .infra article ul li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .infra article ul li div {
  padding: 16px 0 0;
}
main .infra article ul li div .h5 {
  font-weight: 800;
  color: #333;
}
main .infra article ul li div p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}
main .expert-team {
  width: 100%;
  background: url("./img/composition-m.jpg") no-repeat center center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
main .expert-team .string-up {
  transform: translateY(120%);
}
main .expert-team article {
  width: 95%;
  padding: 45px 20px 0;
  margin: 0 auto;
  overflow: hidden;
}
main .expert-team article .h4 {
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px;
  padding-top: 20px;
}
main .expert-team article .h2 {
  color: #eeece6;
  font-weight: 800;
}
main .expert-team .team {
  width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}
main .expert-team .team ul {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
main .expert-team .team ul li {
  width: 33%;
  padding: 0 20px;
  margin-bottom: 24px;
  vertical-align: top;
  flex-shrink: 0;
  overflow: hidden;
}
main .expert-team .team ul li a {
  width: 100%;
  display: block;
}
main .expert-team .team ul li a img {
  width: 100%;
}
main .expert-team .team ul li p {
  margin-top: 12px;
  font-size: 12px;
  color: #ccc;
}
main .portfolio {
  width: 95%;
  margin: 0 auto;
}
main .portfolio .portfolio-list {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 85px 0 20px;
}
main .portfolio .portfolio-list .string-up {
  transform: translateY(120%);
}
main .portfolio .portfolio-list .title-6 {
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  position: relative;
}
main .portfolio .portfolio-list .title-6 .h4 {
  font-weight: bold;
  color: #262626;
  margin-bottom: 16px;
  padding-top: 20px;
}
main .portfolio .portfolio-list .title-6 .h2 {
  color: #333;
  font-weight: 800;
  padding-bottom: 18px;
}
main .portfolio .portfolio-list .list {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
main .portfolio .portfolio-list .list .scale-up {
  width: 50%;
  padding: 0 8px 20px 20px;
  flex-shrink: 0;
  overflow: hidden;
}
main .portfolio .portfolio-list .list .scale-up a {
  width: 100%;
  display: block;
}
main .portfolio .portfolio-list .list .scale-up a img {
  width: 100%;
  height: 280px;
}
main .portfolio .portfolio-list .list .scale-up .h5 {
  width: 100%;
  padding: 16px 0 0;
  color: #262626;
  font-weight: 800;
}
main .portfolio .portfolio-list .list .scale-up small {
  width: 100%;
  padding-top: 3px;
  color: #111;
  font-size: 12px;
}
main .portfolio .portfolio-list .list .scale-up .split-text_line {
  display: none;
}
main .portfolio .portfolio-list .list .scale-up .split-text_line span {
  display: inline-block;
  width: 100px;
  height: 5px;
  border-top: 1px solid #111;
  margin-right: 10px;
}
main .news {
  width: 95%;
  margin: 0 auto;
}
main .news article {
  width: 100%;
  padding: 85px 20px;
}
main .news article .h4 {
  font-weight: bold;
  color: #262626;
  margin-bottom: 16px;
  padding-top: 20px;
}
main .news article ul {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
main .news article ul li {
  width: 50%;
  padding: 0 8px 20px 20px;
}
main .news article ul li a {
  width: 100%;
}
main .news article ul li a img {
  width: 100%;
}
main .news article ul li h2 {
  color: #111;
  line-height: 1.3;
  font-weight: 800;
  padding-top: 20px;
  margin-bottom: 10px;
}
main .news article ul li p {
  font-size: 12px;
  color: gray;
}
main .news article ul li p span {
  display: inline-block;
  width: 40px;
  height: 5px;
  border-top: 1px solid gray;
}
main .careers-contact {
  width: 100%;
  padding: 32px 0 0;
}
main .careers-contact > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}
main .careers-contact > ul .string-up {
  transform: translateY(120%);
}
main .careers-contact > ul li {
  width: 100%;
  height: 25vh;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
main .careers-contact > ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .careers-contact > ul li a {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}
main .careers-contact > ul li a .h5 {
  color: rgba(224, 224, 224, 0.6);
  font-weight: bold;
}
main .careers-contact > ul li a .h3 {
  color: #eeece6;
  font-weight: 800;
  margin: 5px 0 25px;
}
main .careers-contact > ul li a .action {
  position: relative;
}
main .careers-contact > ul li a .action .action_more .more-1 {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  font-weight: 600;
}
main .careers-contact > ul li a .action .action_more i {
  color: #fff;
}
main .careers-contact > ul li a .action .action_line {
  opacity: 0;
  /* .ani-3 div::after{
      content: '';
      width: 0%;
      border-bottom: 2px solid #000;
      display: block;
      animation: line .5s 0.5s forwards;
  }


  @keyframes line{
      100%{width: 100%;}
  } */
}
main .careers-contact > ul li a .action .action_line .line {
  display: inline-block;
  width: 70px;
  height: 5px;
  border-top: 2px solid #fff;
  margin-right: 30px;
}
main .careers-contact > ul li a .action .action_line .view {
  color: #fff;
  font-weight: 600;
}
main .careers-contact > ul li a .action .action_line.active {
  -webkit-animation: line_action 0.5s 0.5s forwards;
          animation: line_action 0.5s 0.5s forwards;
}
@-webkit-keyframes line_action {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes line_action {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */